html {
    margin: 0;
    padding: 0;
    background-image: url(images/flower.jpg);
}
body {
    width: 450px;
    height: 335px;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    color: white;
  } 
header {
    display: block;
    width: 300px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    font-size: 28px;
    background-color: rgb(116, 59, 111);
    margin-left: 150px;
    border-radius: 20px; 
   }    
.trophy_img {
width: 30px;
height: 30px;
}
.Player1, .Player2, .Players_Menu
{
    color:  rgb(116, 59, 111);  
}
.Players_Menu {
    text-align: center;
    width: 450px;
    height: 200px;
    margin-left: 90px;
}
.Player1 {
    display: block;
    float: left;
    width: 200px;
    height: 100px;
 }
.Player2 {
    display: block;
    float: right;
    width: 200px;
    height: 100px;
        }
.zero_img {
}     
  .square {
    margin-left: 100px;
    width: 400px;
    height: 400px;
    transform: skewY(<15>);  
    }
.color1 {
    background-color: rgb(247, 220, 220);
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.color2 {
    background-color: rgb(116, 59, 111);
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
footer {
    width: 410px;
    height: 20px;
    color: white;
    background-color: rgb(116, 59, 111);
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 30px;
    }
